.upd{
    color: white;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Adjust as necessary */
}
.loading {
    color: red; /* Red color for loading text */
  }
  