.custom-gauge-chart text {
    fill: black !important;
}
.gauge-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30px;
}

.custom-gauge-chart {
    width: 100%;
}

.gauge-percentage {
    margin-top: -10px; /* Adjust this value to position the text */
    font-size: 20px; /* Adjust font size as needed */
    color: black; /* Set the text color to black */
    text-align: center;
    padding-top: 60px;
}
.gauge-value-overlay{
    font-size: 30px;
    font-weight: bold;
    color: #053B50;
    margin-top: 30px;
}
.loading {
    color: red; /* Red color for loading text */
  }
.midflow{
    font-size:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #053B50;
    
}
.mana{
    font-size: 30px;
}